@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dark {
    background-color: #000;
    color: white;
}

.fonting {
    font-family: "Cinzel Decorative", serif;
    font-weight: 600;
    font-style: normal;
}