@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.gradient-bg {
    background-color: rgba(196, 181, 253, 0.3); /* fallback */
    background-image:
      repeating-linear-gradient(
        0deg,
        white 0px,
        white 2px,
        rgba(168, 85, 247, 0.3) 2px,
        rgba(168, 85, 247, 0.3) 25px
      ),
      repeating-linear-gradient(
        90deg,
        white 0px,
        white 2px,
        rgba(168, 90, 243, 0.3) 2px,
        rgba(168, 90, 243, 0.3) 25px
      );
    background-blend-mode: multiply;
  }
  

.dark {
    background-color: #000;
    color: white;
}

.fonting {
    font-family: "Cinzel Decorative", serif;
    font-weight: 600;
    font-style: normal;
}

/* For Chrome, Safari and Opera */
.scrollbar-none::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-none {
    -ms-overflow-style: none;/* IE and Edge */
    scrollbar-width: none;/* Firefox */
}